/*
==========================================================================
Tiki Manager Variables
==========================================================================
*/
/*
==========================================================================
TRIM Mixins
==========================================================================
*/
/*
==========================================================================
TRIM Global Classes
==========================================================================
*/
.clearfix {
  *zoom: 1;
}
.clearfix:before, .clearfix:after {
  content: " ";
  display: table;
}
.clearfix:after {
  clear: both;
}

.center {
  text-align: center;
}

.bold {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: bold;
  font-style: normal;
}

.top {
  vertical-align: top;
}

.left {
  float: left;
}

.right {
  float: right;
}

.hide {
  display: none;
}

/*
==========================================================================
TRIM Base Styles
==========================================================================
*/
html, body {
  height: 100%;
}

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: normal;
  font-style: normal;
}
body > .container {
  min-height: 100vh;
  margin-bottom: -50px;
  padding-top: 85px;
  padding-bottom: 30px;
}
body > .container:after {
  content: "";
  display: block;
  height: 50px;
}

h1 {
  margin-bottom: 35px;
}

h3 {
  margin-bottom: 20px;
}

h4 {
  font-weight: bold;
}

table th {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: bold;
  font-style: normal;
}

pre {
  padding: 9.5px;
  word-break: break-all;
  word-wrap: break-word;
}

footer {
  font-size: 0.85em;
}

/*
==========================================================================
TRIM Main Styles
==========================================================================
*/
.trim-login form {
  padding: 30px 15px 15px;
  text-align: left;
}
.trim-login label {
  display: inline-block;
  max-width: 100%;
  margin-bottom: 5px;
  text-align: left;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: bold;
  font-style: normal;
}

.trim-instance-main-list, .trim-instance-list {
  width: 85%;
  margin: 0 auto;
}
.trim-instance-main-list #accordion, .trim-instance-list #accordion {
  margin-bottom: 30px;
}
.trim-instance-main-list ul, .trim-instance-list ul {
  padding: 0;
  list-style-type: none;
}
.trim-instance-main-list ul li, .trim-instance-list ul li {
  position: relative;
  margin: 15px 0;
  padding: 20px;
  border: 1px solid #ddd;
  text-align: left;
  cursor: pointer;
}
.trim-instance-main-list ul li a, .trim-instance-list ul li a {
  font-size: 1.5em;
  text-decoration: none;
  word-break: break-all;
}
.trim-instance-main-list ul li > a, .trim-instance-list ul li > a {
  display: inline-block;
  width: 100%;
  padding: 20px;
}
.trim-instance-main-list ul li span, .trim-instance-list ul li span {
  font-size: 0.75em;
  color: #888;
}
.trim-instance-main-list ul li:hover, .trim-instance-list ul li:hover {
  background-color: #eee;
}
.trim-instance-main-list ul li .contact, .trim-instance-list ul li .contact {
  position: absolute;
  bottom: 2px;
  left: 0;
  width: 100%;
  padding: 0 20px;
}
.trim-instance-main-list ul li .contact a, .trim-instance-list ul li .contact a {
  font-size: 1.1em;
}
.trim-instance-main-list ul li .contact a:hover, .trim-instance-list ul li .contact a:hover {
  text-decoration: underline;
}
.trim-instance-main-list ul li .url, .trim-instance-list ul li .url {
  display: inline-block;
}
.trim-instance-main-list ul li .url a:hover, .trim-instance-list ul li .url a:hover {
  text-decoration: underline;
}
.trim-instance-main-list ul li .url a:hover span, .trim-instance-list ul li .url a:hover span {
  text-decoration: none;
}
.trim-instance-main-list ul li .url span, .trim-instance-list ul li .url span {
  font-size: 1.125em;
}
.trim-instance-main-list ul li .url .blanks, .trim-instance-list ul li .url .blanks {
  font-size: 1.5em;
  color: #007bff;
}
.trim-instance-main-list ul li .buttons, .trim-instance-list ul li .buttons {
  float: right;
}
.trim-instance-main-list ul li .buttons a, .trim-instance-list ul li .buttons a {
  margin-left: 10px;
  font-size: 2em;
}
.trim-instance-main-list ul li .buttons .fa-times, .trim-instance-list ul li .buttons .fa-times {
  color: orangered;
}
.trim-instance-main-list ul li .buttons .fa-times:hover, .trim-instance-list ul li .buttons .fa-times:hover {
  color: #b33000;
}
.trim-instance-main-list ul li:hover .blanks, .trim-instance-list ul li:hover .blanks {
  color: #0056b3;
}
.trim-instance-main-list ul.archive li, .trim-instance-list ul.archive li {
  margin: 10px 0;
  padding: 0;
  text-align: center;
  border: none;
}
.trim-instance-main-list ul.archive li:hover, .trim-instance-list ul.archive li:hover {
  background-color: transparent;
}
.trim-instance-main-list ul.archive li a, .trim-instance-list ul.archive li a {
  padding: 10px;
  width: auto;
  font-size: 0.9em;
  white-space: normal;
}
.trim-instance-main-list ul.archive li span, .trim-instance-list ul.archive li span {
  font-size: 1em;
  color: #fff;
}
.trim-instance-main-list ul.archive li span.fa-times, .trim-instance-list ul.archive li span.fa-times {
  margin-right: 5px;
  font-size: 1.5em;
}
.trim-instance-main-list.restore ul.archive li, .trim-instance-list.restore ul.archive li {
  border: 1px solid #ddd;
}
.trim-instance-main-list.restore ul.archive li span, .trim-instance-list.restore ul.archive li span {
  color: #888;
}
.trim-instance-main-list .alert, .trim-instance-list .alert {
  margin: 0 20px 20px;
}
.trim-instance-main-list .alert .message, .trim-instance-list .alert .message {
  font-size: 1em;
  color: #007bff;
}
.trim-instance-main-list .new, .trim-instance-main-list .blank, .trim-instance-list .new, .trim-instance-list .blank {
  margin: 0 10px;
}
.trim-instance-main-list .card, .trim-instance-list .card {
  margin: 15px 0;
  border-radius: 0;
}
.trim-instance-main-list .card .card-header, .trim-instance-list .card .card-header {
  padding: 0;
  border-radius: 0;
}
.trim-instance-main-list .card .card-header a, .trim-instance-list .card .card-header a {
  display: block;
  width: 100%;
  padding: 20px;
  text-align: left;
  font-size: 1.5em;
  text-decoration: none;
  background-color: #fff;
}
.trim-instance-main-list .card .card-header a:hover, .trim-instance-main-list .card .card-header a:not(.collapsed), .trim-instance-list .card .card-header a:hover, .trim-instance-list .card .card-header a:not(.collapsed) {
  background-color: #eee;
}
.trim-instance-main-list .card .card-header span, .trim-instance-list .card .card-header span {
  font-size: 0.75em;
  color: #888;
}

.trim-instance-main-list ul li > a {
  padding: 20px 20px 30px 45px;
}
.trim-instance-main-list .url {
  padding-bottom: 10px;
}
.trim-instance-main-list .lock {
  display: inline-block;
}
.trim-instance-main-list .lock span {
  color: orange;
}
.trim-instance-main-list .lock span:hover {
  color: darkorange;
}

.trim-instance-list ul.restore span {
  color: #007bff;
  font-size: 1.5em;
}

.trim-instance-view {
  width: 85%;
  margin: 0 auto;
}
.trim-instance-view h2 {
  display: inline;
}
.trim-instance-view table {
  margin-top: 20px;
}
.trim-instance-view table td {
  word-break: break-word;
}
.trim-instance-view .archives {
  padding: 10px 0;
}
.trim-instance-view .archives h2 {
  display: block;
}
.trim-instance-view .archives ul {
  list-style-type: none;
}
.trim-instance-view .update {
  float: right;
  font-size: 1.4em;
  text-decoration: none;
}
.trim-instance-view .left {
  margin-right: 10px;
}
.trim-instance-view .right {
  margin-left: 10px;
}

.trim-instance-edit, .trim-instance-new {
  width: 85%;
  margin: 0 auto;
}
.trim-instance-edit table, .trim-instance-new table {
  margin-top: 20px;
}
.trim-instance-edit table > tbody > tr > th, .trim-instance-new table > tbody > tr > th {
  vertical-align: middle;
}
.trim-instance-edit table label, .trim-instance-new table label {
  margin: 0;
}
.trim-instance-edit table span, .trim-instance-new table span {
  display: block;
  font-size: 0.85em;
}
.trim-instance-edit .cancel, .trim-instance-edit .save, .trim-instance-new .cancel, .trim-instance-new .save {
  margin: 0px 10px;
}

.trim-instance-view table, .trim-instance-edit table, .trim-instance-new table {
  text-align: left;
}

#trimModal pre, #createModal pre {
  max-height: 500px;
  margin: 0;
  background: black;
  color: gray;
  white-space: pre-wrap;
  border-radius: 4px;
  border: 1px solid #ccc;
}
#trimModal span, #createModal span {
  display: block;
}
#trimModal .cyan, #createModal .cyan {
  color: cyan;
}
#trimModal .orange, #createModal .orange {
  color: orange;
}
#trimModal .red, #createModal .red {
  color: red;
}

.modal-dialog {
  max-width: 800px;
}

/*
==========================================================================
TRIM Responsiveness
==========================================================================
*/
@media (max-width: 991.98px) {
  .modal-dialog {
    max-width: 500px;
  }

  .trim-instance-main-list ul li {
    overflow: hidden;
  }
}
@media (max-width: 767.98px) {
  .trim-instance-main-list ul li .buttons {
    padding-bottom: 10px;
  }

  .trim-instance-main-list, .trim-instance-list, .trim-instance-view,
.trim-instance-edit, .trim-instance-new {
    width: 100%;
  }
}
@media (max-width: 575.98px) {
  .navbar-fixed-top .navbar-collapse {
    max-height: 500px;
  }

  .dropdown-menu > li > a {
    color: #777;
  }

  .navbar-nav .open .dropdown-menu > li > a {
    padding: 5px 30px;
  }

  .trim-instance-main-list.restore ul li .buttons, .trim-instance-main-list.clone ul li .buttons, .trim-instance-list.restore ul li .buttons, .trim-instance-list.clone ul li .buttons {
    padding-top: 0;
  }
  .trim-instance-main-list.restore ul li .buttons a, .trim-instance-main-list.clone ul li .buttons a, .trim-instance-list.restore ul li .buttons a, .trim-instance-list.clone ul li .buttons a {
    padding-top: 10px;
  }
  .trim-instance-main-list .new, .trim-instance-main-list .blank, .trim-instance-list .new, .trim-instance-list .blank {
    margin: 10px;
  }

  .trim-instance-main-list ul li {
    padding: 10px 20px 40px;
  }
  .trim-instance-main-list ul li .contact {
    bottom: 5px;
  }
  .trim-instance-main-list ul li .contact .right {
    float: left;
  }

  .trim-instance-list ul li .buttons {
    padding-top: 10px;
  }
  .trim-instance-list ul li .url {
    width: 85%;
  }

  .trim-instance-view h2 {
    display: block;
    margin-top: 0;
  }
  .trim-instance-view .bottom-nav {
    text-align: center;
  }
  .trim-instance-view .bottom-nav .left, .trim-instance-view .bottom-nav .right {
    float: none;
    margin: 0 10px 10px 0;
  }
}

/*# sourceMappingURL=default.css.map */
